{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<title>django blog</title>
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
		<link rel = 'stylesheet' href = {% static 'css/base.css' %}>
	</head>
	<body>
		<header>
			<h1><a href = "{% url 'home' %}">Django blog</a></h1>
		</header>

		<div>
			{% if user.is_authenticated %}
			<p>hi {{ user.username }}</p1><br>
			<a href = "{% url 'logout' %}">Log Out</a>
			{% else %}
			<p>you are not logged in </p>
			<a href="{% url 'login' %}">Log In</a>|
			<a href="{% url 'signup' %}">Sign Up</a>
			{% endif %}
			{% block content %}
			{% endblock content %}
		</div>
	</body>
</html>

