{% load static %}
<html>
	<head><title>django blog</title>
	<link rel='stylesheet' href="{% static 'css/base.css' %}">
	</head>	
	<body> 
		<div class='nav-left'>
		<header>
			<h1><a href="{% url 'home' %}">Blog</a></h1>
		</header>
		</div>
		<div class='nav-right'>
			<h2><a href='{% url 'new_page' %}'>+ New Blog</a></h2>
		</div>
		{% if user.is_authenticated %}
			<p>Hi {{ user.username }}</p>
			<a href='{% url 'logout' %}'>log out</a>
		{% else %}
			<p>You are not logged in </p>
			<a href="{% url 'login' %}">login page</a>
		{% endif %}
		<div>
			{% block content %}
			{% endblock content %}
		</div>
	</body>
</html>
