{% extends 'base.html' %}

{% block title %}Blogging detail {% endblock title %}

{% block content %}
<div class='article-detail'>
	<h2>{{ articledetail.title }}</h2>
	<p> by {{ articledetail.author }}</p>
	<p> {{ articledetail.body }}</p>
</div>

<hr>
<h4>Comments</h4>
{% for comment in article.comment_set.all %}
<p>{{ comment.author }} &middot; {{ comment }} </p> #adding middot in between like testuser.comment
{% endfor %}
<hr>

<h4>Add a comment </h4>
<form action = '' method = 'post'>{% csrf_token %}
	{{ form|crispy }}
	<button class = 'btn btn-success ml-2' type = 'submit'>Save</button>
</form>


<p><a href="{% url 'article_edit' article.pk %}">Edit</a>|
<a href="{% url 'article_delete' article.pk %}">Delete</a></p>

<p>Back to <a href="{% url 'article_list' %}">All article</a>.</p>
{% endblock content %}

